*{
    margin:0;
    padding: 0;
}

body {
    text-align:center;
    background-color: #BAA1AE;
}

.container{
    height:70vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #FFE1C6;
    color: #48284A;
}

#reset{
    width: 10rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#48284A;
    border-radius: 1rem;
    border: none;
    color: #FFE1C6;
}

h1{
    color: #48284A;
    font-size: 3rem;
    padding-top: 1rem;
}

#newGame{
    width: 10rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#48284A;
    border-radius: 1rem;
    border: none;
    color: #FFE1C6;
}

#winMsg{
    font-size: 5vmin;
    color:#48284A;
}

.msg-container{
   height: 30vmin;
}

.hide{
    display: none;
}